* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  gap: 12rem;
  margin: 1rem 3rem;
  text-align: center;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  font-size: 25px;
}

.nav-items li {
  list-style: none;
  text-decoration: none;
}

.nav-items li a {
  text-decoration: none;
  color: inherit;
}

#logo {
  content: url('./assets/logo.png');
  width: 5rem;
}

footer {
  position: fixed;
  width: 100%;
  background-color: rgb(8, 7, 7);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.copyrights {
  color: antiquewhite;
  font-size: 25px;
  word-spacing: 8px;
}

.creator-direct {
  text-decoration: none;
  color: brown;
}