* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: antiquewhite;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  gap: 12rem;
  margin: 1rem 3rem;
  text-align: center;
  align-items: center;
  color: brown;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  font-size: 25px;
}

.nav-items li {
  list-style: none;
  text-decoration: none;
}

.info-links a {
  text-decoration: none;
  color: #e1362c;
  background-color: transparent;
}

.nav-items li a {
  text-decoration: none;
  color: inherit;
}

#logo {
  content: url('./assets/logo.png');
  width: 5rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.intro h1 {
  font-size: 2rem;
}

.intro p {
  font-size: 1.3rem;
}

.mealscounter {
  color: #e1362c;
  font-size: 2rem;
}

.copyrights {
  color: antiquewhite;
  font-size: 25px;
  word-spacing: 8px;
}

.creator-direct {
  text-decoration: none;
  color: brown;
}

.pop-container {
  width: 80%;
  background-color: azure;
  margin-top: -5rem;
  position: absolute;
  z-index: 1;
  padding: 1rem;
}

.pop-up {
  justify-content: center;
  width: 75%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.close {
  float: right;
  font-size: xx-large;
  position: relative;
  top: 1rem;
  cursor: pointer;
}

.meal-img {
  height: 20rem;
  width: 75%;
  border: solid 1px;
  margin: 2rem auto;
  background-size: cover;
  background-repeat: no-repeat;
}

h3 {
  font-size: 2em;
  padding: 2em 0 1em 0;
  font-weight: bold;
  letter-spacing: 2px;
}

.pop-info h3 {
  text-align: center;
}

.meal-info {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  font-size: large;
}

.pop-info h4 {
  text-align: center;
}

.comments-1 {
  height: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  margin-left: 20rem;
  width: 50%;
}

.add-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  margin-top: 2rem;
  margin-left: 20rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 140px;
}

.mealCard {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  padding: 40px 15px;
  border: 1px solid black;
  margin: 3em 0.5em;
  box-shadow: 0 15px 15px -15px black;
  gap: 20px;
  background-color: rgb(248, 248, 248);
}

.mealImg {
  width: 500px;
  border-radius: 10px;
}

.card {
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.meal-title {
  font-size: 2em;
}

.fa-heart {
  font-size: 2em;
  color: red;
  cursor: pointer;
}

.Likes {
  font-size: 2em;
}

.commentBtn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

footer {
  width: 100%;
  height: 5rem;
  background-color: rgb(8, 7, 7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  bottom: 0;
  padding-top: 2px;
  float: left;
  overflow: auto;
}

.popup-img {
  width: 40%;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  width: 90%;
  height: 100%;
  padding: 30px 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow-y: scroll;
  background-color: antiquewhite;
}

.modal-container::-webkit-scrollbar {
  width: 0.5em;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-title {
  font-size: 2rem;
}

.meal-popup-description {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 1.1em;
  padding: 2.5em 0;
  gap: 12px;
}

.meal-popup-description b {
  color: #000;
  letter-spacing: 6px;
  font-size: 1.3em;
}

.info-links button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.meal-popup-description ul {
  list-style-type: lower-roman;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.meal-popup-description li {
  letter-spacing: 3px;
  font-style: italic;
  color: #000;
}

.meal-popup-description p {
  font-size: medium;
  text-align: center;
}

.count {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 15%;
  height: 2rem;
  margin: 1.5rem auto;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}

.comments {
  width: 20%;
  margin: 0 auto;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
}

.commented {
  font-size: 1.6rem;
  display: flex;
  margin-left: 20rem;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.user-name {
  width: 30%;
  background: none;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-radius: 0;
}

.user-comment {
  width: 30%;
  height: 300px;
  background: none;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-radius: 0;
}

.submit-btn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
